<section>
  
  <h2>What's the Weather Where You're At?</h2>
  <input [(ngModel)]="zip" (keyup)="findWeather(zip)" type="text" placeholder="Enter Zip here">
 



</section>
<section *ngIf="weather">
    <h3>Here's the weather in {{weather.name}}:</h3>
    <p>Currently {{weather.weather[0].description}}.</p>
    <p>There's a high of {{weather.main.temp_max}} degrees and a low of {{weather.main.temp_min}} degrees.</p>
  </section>